/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */
@charset 'UTF-8';

/* 共通 */
body {
  background: #AAAAAA;
  font: 16px/20px "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",'メイリオ',
  Meiryo,Helvetica,Arial,Sans-Serif;
  color: #454545;
}

a { color: #2d5ee1; }
 a:hover { color: #1f4099; }

strong {
  font-weight: bold;
}
/* ヘッダー */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #999999;
  width: calc(100% - 60px);
  margin: 0 auto;
}
.header__title {
  font-size: 40px;
  font-weight: bold;
}

.global-nav {
  width: calc(100% - 60px);
  margin: 0 auto;
}
.global-nav ul {
  display: flex;
  justify-content: center;
}
.global-nav__items li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 5);
  height: 80px;
  background: #d7d7d7;
}
  .global-nav__items li:nth-of-type(2n) {
    background: #b0b0b0;
  }
.global-nav__items a {
  color: #262626;
  text-decoration: none;
  font-size: 110%;
  font-weight: bold;
}

.bread-crumbs {
  width: calc(100% - 60px);
  margin: 0 auto;
  background: #5b5b5b;
}
.bread-crumbs__items {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}
.bread-crumbs li:after {
  display: inline-block;
  content: '>';
  margin: 0.6em;
  color: white;
}
.bread-crumbs li:last-child:after {
  content: "";
}
.bread-crumbs__items a {
  color: white;
  text-decoration: none;
}

/* 広告 */
.top-ads {
  width: calc(100% - 60px);
  margin: 0 auto;
  background: #cccccc;
}
.top-ads__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-ads__items li img {
  margin: 20px;
  height: 270px;
}

/* 記事 */
.body {
  width: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
.main {
  display: flex;
  flex-direction: column;
}
.main-header {
  display: flex;
  align-items: center;
  height: 100px;
  position: relative;
  /* box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8); */
  margin 2px;
  background: #eeeeee;
}
  .main-header:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 40px solid #aaa;
    border-right: 40px solid transparent;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  }
  .main-header:after {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-top: 39px solid #cccccc;
    border-left: 39px solid transparent;
  }
  
.main-header__title {
  font-size: 200%;
  font-weight: bold;
  margin-left: 60px;
  position: relative;
}
  .main-header__title:before {
    top: -5px;
    left: -40px;
    width: 15px;
    height: 15px;
    content: "";
    background: #999;
    position: absolute;
    border-right: #444 solid 15px;
  }
  .main-header__title:after {
    top: 10px;
    left: -40px;
    width: 15px;
    height: 15px;
    content: "";
    background: #999;
    position: absolute;
    border-left: #444 solid 15px;
  }

.article {
  display: flex;
  flex-direction: column;
  background: #ddd;
}
.article h3 {
  margin-top: 20px;
  margin-left: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
  .article h3:before {
    top: -10px;
    left: -20px;
    width: 10px;
    height: 20px;
    content: "";
    background: #999;
    border-bottom: #444 solid 20px;
    position: absolute;
  }
.article h4 {
  margin-top: 20px;
  margin-left: 60px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
  .article h4:before {
    top: 0px;
    left: -38px;
    width: 5px;
    height: 20px;
    content: "";
    background: #434343;
    position: absolute;
  }
  .article h4:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #434343;
  }
.article__paragraph {
  margin: 5px 20px;
  line-height: 150%;
}

.article__unorder-list {
  margin: 10px 40px;
  list-style-type: disc;
  line-height: 200%;
}

.article__blockquote {
  margin: 50px 30px 5px 30px;
  position: relative;
  border-left: 5px solid #999;
  padding-left: 30px;
  line-height: 200%;
}
  .article__blockquote:before {
    position: absolute;
    top: -40px;
    left: -25px;
    width: 46px;
    height: 46px;
    background: #999;
    border-radius: 23px;
    content: '';
  }
  .article__blockquote:after {
    position: absolute;
    top: -20px;
    left: -10px;
    width: 10px;
    height: 10px;
    content: '"';
    color: #eee;
    font-size: 50px;
    text-align: center;
  }

.article__image {
  margin: 10px 30px;
  width: calc(100% - 60px);
}

.article__sub-sub-title {
  position: relative;
  margin: 10px 50px;
  font-size: 15px;
  font-weight: bold;
}
  .article__sub-sub-title:before {
    position: absolute;
    content: "";
    left: -30px;
    width: 16px;
    height: 16px;
    background: #464646;
    border-radius: 8px;
  }
  .article__sub-sub-title:after {
    position: absolute;
    content: "";
    left: -20px;
    width: 16px;
    height: 16px;
    background: #999;
    border-radius: 8px;
  }

.article__order-list {
  margin: 10px 40px;
  list-style-type: decimal;
  line-height: 200%;
}

/* お問合わせ */
.form {
  background: white;
}
.form__title {
  margin: 20px 70px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
  .form__title:before {
    position: absolute;
    top: -5px;
    left: -60px;
    width: 50px;
    height: 30px;
    content: "";
    border: 2px solid #000;
  }
  .form__title:after {
    position: absolute;
    top: -20px;
    left: -50px;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-color: transparent transparent #000 #000;
    transform: rotate(-45deg);
    content: "";
  }

.form-item {
  margin: 12px 30px;
  display: flex;
  align-items: center;
}
  .form-item:nth-child(4) label {
    align-self: flex-start;
  }
.form-item__label {
  width: 10em;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}
input[type="text"], input[type="password"] {
  flex: 1 1 80%;
  border: 2px solid #ddd;
  border-radius: 5px; 
  height: 30px;
}
textarea {
  flex: 1 1 80%;
  border: 2px solid #ddd;
  border-radius: 5px;
  height: 300px;
}
.form-item__inline-item {
  display: inline-flex;
  margin-left: 10px;
}
.form-item__radio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.form-item__checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;
  background: #ddd;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.form-item__select-pull-down {
  display: inline-flex;
  flex: 1 1 80%;
  background: #eee; 
  height: 30px;
  margin-left: 15px;
  font-size: 15px;
}
.form-item__select-list {
  display: inline-flex;
  flex: 1 1 80%;
  margin-left: 15px;
}
.form-item__select-list-option {
  display: inline-flex;
  align-items: center;
  height: 40px;
  background: #eee;
  border-top: 1px solid black;
  font-size: 15px;
  padding-left: 10px;
}
.form-item__file {
  display: inline-flex;
  align-items: center;
  flex: 1 1 80%;
  background: #eee; 
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  height: 30px;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 10px; /* alignのcenterが効かなかったため */
}

.form-item__actions-items {
  display: inline-flex;
}
.form-item__action {
  margin-left: 15px;
  width: 200px;
  font-size: 15px;
  height: 50px;
  border-radius: 5px;
}
  .is-submit {
    background: #444;
    color: white;
  }
  .is-reset {
    background: #ccc;
    color: #6f6f6f;
  }

/* 縦広告 */
.aside {
  background: #5b5b5b;
  display: flex;
  flex-direction: column;
}
.aside-ads__image {
  margin: 10px 10px 0px 10px;
}

.local-nav {
  height: 150px;
  border: 1px solid #999999;
  border-radius: 5px;
  margin: 0px 10px;
  overflow: auto;
}
.local-nav__item {
  background: #999999;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0px 0px 2px 0px;
}
.local-nav__link {
  color: white;
  text-decoration: none;
  margin: 10px;
}

/* フッター */
.footer {
  width: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: #444;
}
.footer-nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.footer-nav__item {
  margin: 20px;
}
.footer-nav a {
  color: white;
  text-decoration: none;
  position: relative;
}
  .footer-nav a:before {
    content: ">";
    left: -10px;
    position: absolute;
  }

.about-author {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  color: black;
  background: #ccc;
  margin: 30px;
  border-radius: 5px;
  padding-bottom: 20px;
}
.about-author__title {
  flex: 1 1 90%;
  font-weight: bold;
  margin: 20px;
}
.about-author__image {
  margin-left: 15px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.about-author__descriptions {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.about-author__term {
  width: 20%;
  text-align: right;
  padding-right: 20px;
  margin: 5px 0px;
}
.about-author__description {
  width: 70%;
  margin: 5px 0px;
}

.footer-copyright {
  margin-bottom: 20px;
  display: flex;
  color: white;
  justify-content: center;
  flex: 1;
}
